* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "A2_RGB";
  src: url("fonts/NewRailAlphabet-Medium.otf") format("opentype");
  font-style: normal;
}

:root {
  --bg: #f9f8f6;
  --text: #111111;
  --page-pad: 1rem;
  --grid-gap: 1rem;
  --header-offset: 3.5rem;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: "A2_RGB", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  width: 100%;
  max-width: 3000px;
  height: 95vh;
}

main {
  width: 100%;
  height: 100%;
  padding-left: var(--page-pad);
  padding-right: var(--page-pad);
}

nav {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  gap: var(--grid-gap);
  width: auto;
}

.reveal {
  opacity: 0;
}
/* 
h1 {
  grid-column: 1 / 3;
} */

h2 {
  grid-column: span 3;
}
nav a {
  grid-column: 9 / span 3;
}
